@use './variables' as *;


.bg-home {
    width: 100%;
    height: calc(100vh - 67px);

    background-image: url("storage/bnb_images/welcomebnb.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .my_btn {
        border: 1px solid $accentColor;
        background-color: white;

        font-weight: bold;
        color: $accentColor;

        padding-inline: 50px;
        border-radius: 20px;

        &:hover {
            border: 1px solid white;
            background-color: $accentColor;
            color: white;
        }
    }
}

// .welcome {

//     background-image: url('../.././storage/app/public/bnb_images/1.png');
//     background-position: center;
//     background-size: cover;
//     border: 1px solid #0067693c;
//     color: white;
//     -webkit-text-stroke-width: 0.3px;
//     /* Spessore del contorno del testo */
//     -webkit-text-stroke-color: white;
//     /* Colore del contorno del testo */
// }